<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>generate</title>
</head>
<body>
    <form method="post" action="/results">
        <h2>hello my name is </h2>
        <input type="text" id="name" name="name"/>
        <input type="submit" />
    </form>
</body>
</html>