<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>README Generator</title>
</head>
<body>
    <h1>README-GEN</h1>
    <p>Welcome to Github ReadMe Generator</p>

    <div align="center">
        <label for="GeneratorSelector"> <h2>Choose an Option to continue..</h2></label>
        <button type="button" name="GeneratorSelector" ><a href="/generate"> Plain HTML </a></button>
    </div>
</body>
</html>